# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Orry Newell\Desktop\UMUC Course Work\Fall2020S2\CMSC495-ComSci\CMSC_495_Image_Detection\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
